table{
    border: 2px solid red;
    border-collapse: collapse;
}
tr:hover {background-color: rgb(57, 214, 9);}
/* app.component.css */

.error-message {
    color: red;
    font-weight: bold;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
  }
  